<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/css/style.css">
		{# // <script type="text/javascript" src="/static/js/jquery3.2.1.js"></script> #}
		<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
		<title>
			Trombinoscoop - {% block title %}Bienvenue{% endblock %}
		</title>
	</head>
	<body id="{% block bodyId %}genericPage{% endblock %}">
		<header>
			<span>trombinoscoop</span>
			{% block headerContent %} {% endblock %}
		</header>
		<section id="content">
			{% block content %}{% endblock %}
		</section>
	</body>
</html>